<!DOCTYPE html>
<html>
<head>
  <title>Speakup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Raleway:400,700'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="sidebar">
	<ul>
		<li class="category">
			<%= link_to "Bolo",root_path %>
		</li>
		<li><%= link_to "Posts",root_path %></li>
		<li>About</li>
	</ul>
	<p class="sign_in">User Login</p>
</div>
<div id="main_content">
	<div id="header">
		<p>Post Feeds</p>
		<div class="buttons">
			<buttons class="button"><%= link_to "Create Post", new_post_path %></buttons>
			<buttons class="button">Log Out</buttons>
		</div>
	</div>
	<%flash.each do |name,msg| %>
	<%= content_tag(:div,msg, class: "alert")%>
	<%end%>
	<%= yield %>
</div>


</body>
</html>
